
.recommended{
    margin-left: 19vmax;
    position: sticky;
    z-index: 900;
    top: 4.3rem;
    background: white;
    display: flex;
    flex-direction: column;
}

.recommended-btns{
    display: flex;
}

.heading{
    font-size: 20px;
    padding: 0.6rem 0;
}
