
.sidebar{
    width: 15%;
    padding-top: 0.6rem;
    position: fixed;
    z-index: 900;
    height: 100%;
    border-right: 2px solid #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 12px;
}

.logo-container{
    margin-bottom: 1.5rem;
}
.logo{
    width: 3rem;
    height: 3rem;
    color: darkorange;
}

.sidebar-title input:checked{
    background-color: #2196f3;
}