
.category{
   display: flex;
    flex-direction: column;
}

.sidebar-label-container{
  display: block;
  position: relative;
  padding-left: 35px ;
  margin-bottom: 10px ;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.sidebar-label-container input{
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.sidebar-label-container:hover input ~ .checkmark{
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark{
  background-color: #2196f3;
}

.checkmark::after{
  content: "";
  position: absolute;
  display: none;
  
}

.sidebar-label-container input:checked ~ .checkmark::after{
  display: block;
}

.sidebar-label-container .checkmark::after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

