
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
    border-bottom: 2px solid #f3f3f3;
    z-index: 100;
    position: sticky;
    top: 0;
    background-color:white;
    margin-left: 2rem;
}

.search-input{
    border: none;
    background-color: #f7f6f6;
    padding: 12px 20px;
    border-radius: 5px;
    outline: none;
    margin-right: 20px;
    position: relative;
    width: 14rem;
}

.profile-container a{   
    margin-left: 2rem;
    cursor: unset;
}
.nav-icons{
    color: #474343;
    width: 1.5rem;
    height: 1.5rem;  
    cursor: pointer;
}
