
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 16vmax;
    z-index: -2;
}
.card{
    margin: 10px;
    border: 2px solid #ededed;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.card img{
    width: 90%;
    margin-bottom: 1rem;
    align-self: center;
}

.card-title{
    margin-bottom: 1rem;
 }
.card-reviews{
    display: flex;
    margin-bottom: 1rem;
}

.total-reviews{
    font-size: 0.9rem;
    margin-left: 10px;
}

.rating-star{
    color: #d5ab55;
}
.card-price{
    position: relative;
}

.bag-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    color: #535353;
}